.type-area-outer {
  display: flex;
  padding: 20px;

  > div + div {
    margin-left: 12px;
  }

  .metrics {
    width: 300px;
    flex: 0 0 auto;
    font-family: 'Roboto Mono', monospace;

    border: 1px solid lightgrey;
    border-radius: 4px;
    padding: 12px;
    background-color: white;
  }

  .players {
    margin-top: 40px;
  }
}

.type-area {
  display: flex;
  flex-direction: column;
  align-items: center;

  .text {
    width: 475px;
    margin: 0 auto;
    text-align: left;
    border: 1px solid lightgrey;
    border-radius: 4px;
    padding: 12px;
    background-color: white;
    letter-spacing: 0.3px;
    line-height: 2.3;

    .char {
      position: relative;
    }

    .completed {
      color: darkgreen;
      background-color: lightgreen;
    }

    .player-position {
      position: absolute;
      top: -16px;
      font-size: 11px;
      border-radius: 4px 4px 4px 0;
      background-color: rgba(0, 71, 200, 0.15);
      border: 1px solid rgba(0, 71, 200, 0.25);
      line-height: 1em;
      padding: 2px;
    }
  }

  .error {
    border-color: #900;
    background-color: #FDD;

    &:focus {
      outline: none;
    }
  }

  > div + div {
    margin-top: 20px;
  }
}