.type-area-outer {
  display: flex;
  padding: 20px;

  > div + div {
    margin-left: 12px;
  }

  .metrics {
    width: 150px;
    flex: 0 0 auto;
  }
}

.type-area {
  display: flex;
  flex-direction: column;
  align-items: center;

  .text {
    width: 450px;
    margin: 0 auto;
    text-align: left;
    border: 1px solid lightgrey;
    padding: 12px;

    .completed {
      color: darkgreen;
      background-color: lightgreen;
    }
  }

  .error {
    border-color: #900;
    background-color: #FDD;

    &:focus {
      outline: none;
    }
  }

  > div + div {
    margin-top: 20px;
  }
}